[groups]
{% for item in svn_users %}
{{ item.name }}={{ item.name }}
{% endfor %}

[/]
admin=rw

{% for item in svn_users %}
{% if item.name != "admin" %}
[{{ item.name }}:/]
{{ item.name }}=rw
{% endif %}
{% endfor %}